img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    /* object-fit: none; */
    /* object-fit: scale-down; */
    /* object-fit: contain; */
}

body {
    background-color: #00ff00;
}

@media (min-width: 1000px) {
    body {
        background-color: #0000ff;
    }
}

@media (min-width: 700px) and (max-width: 1000px) {
    body {
        background-color: purple;
    }
}

@media (min-width: 300px) and (max-width: 700px) {
    body {
        background-color: royalblue;
    }
}

@media only print{
    /* Aqui é definido as configurações somente quando for imprimir a página*/
}